.mother_div{
    margin: auto;
    width:70%;
    background-color: #556FE8;
    display:flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    padding-left: 2.25%;
    padding-right: 2.25%;
    justify-content: space-between;
   

}
.heading{
    color: #FFFCF8;
    display: inline;
}
span{
    color:#182B53;
}
.container_of_click{

    width:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.click_items{
    /*justify-content: center;
    align-items: center;*/
    display:grid;
    place-content: center;
    color:#d6dbf1;
    font-size: small;
    font-style: bold;
    

}
.button{
    height: 45px;
    width: 130px;
    background-color: #273B92;
    color: #FDFDF9;
    border: none;
    border-radius: 5px; 
    font-size: medium;

}