.mother_div{
    margin: auto;
    width:67%;
    background-color: #556FE8;
    display:flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
   

}
.heading{
    color: #FFFCF8;
    display: inline;
}
span{
    color:#182B53;
}
.container_click_button{

    width:65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.click_items{
    /*justify-content: center;
    align-items: center;*/
   
    color:#d6dbf1;
    font-size: small;
    font-style: bold;
    
}



.grid{
    display:grid;
    place-content: center;
}
.button{
    height: 45px;
    width: 130px;
    background-color: #273B92;
    color: #FDFDF9;
    border: none;
    border-radius: 5px; 
    font-size: medium;

}
.hov{
    transition: color 0.5s;
    cursor: pointer;
}
.hov:hover{
    color: #273B92;
}
.hov_btn{
    transition: background-color 0.5s;
    cursor: pointer;
}
.hov_btn:hover{
    background-color: #c1c6df;
}