.mother_div{
    margin: auto;
    width:60%;
    background-color: #556FE8;
    display:flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    padding-left: 2.25%;
    padding-right: 2.25%;
    justify-content: space-between;

}
.heading{
    color: #FFFCF8;
    display: inline;
}
span{
    color:#182B53;
}
.click_items{
    text-align: justify;
    color:#d6dbf1;
    font-size: x-small;
    font-style: bold;
    

}
.button{
    background-color: #273B92;
    color: ;


}